*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Output files, likely to change
high_scores.txt

# YARD artifacts
.yardoc
_yardoc
doc/
